.card-details-wrapper {
    .name {
        background-color: $white;
    }

    .description {
        margin-top: 20px;
    }
}

.card-details-image-wrapper {
  float: left;
  margin-right: 30px;
}
