{
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "printWidth": 80,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 2,
    "semi": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "overrides": [
      {
        "files": "*.scss",
        "options": {
          "singleQuote": false
        }
      }
    ]
  }
  